
body {
  background:#2d3b36 url(https://i.pinimg.com/originals/85/8f/83/858f835dbae4355d855fc716d3db583f.jpg);
  background-repeat:  no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  overflow: scroll;
  
}
